[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "==4.55.1"
pyyaml = "==5.4.1"

[dev-packages]
autopep8 = "==1.5.7"

[requires]
python_version = "3.8"

[scripts]
app = "python app/main.py"
